.main-container {
  display: flex;
  justify-content: center;
  background-color: rgb(98, 100, 116);
  position: relative;
}

.main-container-sheet {
  display: flex;
  width: 215.9mm;
  height: 279.4mm;
  background-color: #fff;
  z-index: 1;
}

.right-main-container-sheet {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar {
  width: 20%;
}

#print-btn {
  position: fixed;
  top: 35%;
  right: 30px;
  height: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 0;
}
