.container-contact-information {
  background-color: rgba(10, 96, 255, 0.87);
  width: 100%;
  display: flex;
  gap: 14px;
  justify-content: center;
  position: relative;
  padding-top: 40px;
  height: 48%;
}

/* SINGLE ITEM */
.container-contact-inf-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* SHOW BUTTONS */
.container-contact-information:hover .container-btn-contact-inf {
  display: flex;
  justify-content: center;
}
.container-btn-contact-inf {
  position: absolute;
  top: 5px;
  gap: 10px;
  display: none;
}
.btn-contact-inf {
  height: 30px;
}
