.container-contact-information {
  width: 100%;
  display: flex;
  gap: 14px;
  justify-content: stretch;
  position: relative;
  padding-top: 40px;
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-bottom-color: #333;
  padding-bottom: 20px;
}

/* SINGLE ITEM */
.container-contact-inf-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.container-contact-inf-child h3 {
  display: flex;
  justify-content: center;
}

/* SHOW BUTTONS */
.container-contact-information:hover .container-btn-contact-inf {
  display: flex;
  justify-content: center;
}
.container-btn-contact-inf {
  position: absolute;
  top: 5px;
  gap: 10px;
  display: none;
}
.btn-contact-inf {
  height: 30px;
}
