.container-contact-information {
  background-color: rgba(10, 96, 255, 0.87);
  width: 100%;
  display: flex;
  gap: 14px;
  justify-content: center;
}
.container-contact-information:hover .btn-contact-inf {
  display: flex;
}

.btn-contact-inf {
  display: none;
  height: 30px;
}
