.conatiner-profile-image {
  width: 100%;
  position: relative;
  border-bottom: 3px double var(--borders);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conatiner-profile-image-space {
  height: 20px;
  width: 100%;
}

.btn-image {
  display: none;
  position: absolute;
  top: 10px;
  right: 30%;
  z-index: 2;
}

.conatiner-profile-image:hover .btn-image {
  display: flex;
}

.container-image {
  position: relative;
  height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Don't show the input */
.input-image-profile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
