/* Biggest container component */
.conatiner-profile-image {
  width: 100%;
  position: relative;
  border-bottom: 3px double var(--borders);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Just space to separate the border from the top of the page when the image is hidden */
.conatiner-profile-image-space {
  height: 20px;
  width: 100%;
}

/* Only show button when hover */
.btn-image {
  display: none;
  position: absolute;
  top: 10px;
  right: 30%;
  z-index: 2;
}

.conatiner-profile-image:hover .btn-image {
  display: flex;
}

/* container that define size of image, if change also the image will change. To change size, only change the height */
.container-image {
  position: relative;
  height: 150px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Don't show the input */
.input-image-profile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
