.container-main-information {
  display: flex;
  gap: 14px;
  border-bottom: 3px solid rgb(49, 49, 49);
  padding-bottom: 5px;
  position: relative;
}
.container-main-information:hover .container-btn-main-inf {
  display: flex;
  gap: 10px;
}

.container-btn-main-inf {
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
}
