/* Biggest container component */
.container-main-information {
  display: flex;
  gap: 14px;
  border-bottom: 3px solid var(--borders);
  padding-bottom: 5px;
  position: relative;
}

/* Buttons */
.container-main-information:hover .container-btn-main-inf {
  display: flex;
  gap: 10px;
}

.container-btn-main-inf {
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
}

/* Text */
.container-main-information h1 {
  font-size: var(--first-title-font-size);
  font-weight: var(--right-main-first-title-font-weight);
  color: var(--right-main-first-title-color);
}

.container-main-information h3 {
  font-size: var(--title-third-font-size);
  font-weight: var(--right-main-title-third-special-font-weight);
  color: var(--right-main-title-third-special-color);
}

.container-main-information p {
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  color: var(--right-main-paragraph-color);
}
