/* To avoid scrolling */
body.active-modal {
  overflow-y: hidden;
}

/* Style overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.61);
  display: none;
  z-index: 10000;
}

/* Class to apply when some modal is active */
.active {
  display: flex;
}
