.container-section {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  padding-bottom: 10px;
}

.section-header {
  display: flex;
  gap: 10px;
  position: relative;
}

.section-header:hover .container-btn-section-header {
  display: flex;
  gap: 10px;
}

.container-btn-section-header {
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
}
