.container-section {
  border-bottom-color: var(--borders);
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  padding-bottom: 10px;
}

.section-header {
  display: flex;
  gap: 10px;
  position: relative;
}

.section-header:hover .container-btn-section-header {
  display: flex;
  gap: 10px;
}

.container-btn-section-header {
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
}

.section-header .title-section {
  font-size: var(--title-second-font-size);
  font-weight: var(--right-main-title-second-font-weight);
  color: var(--right-main-title-second-color);
}
