.container-section {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  padding-bottom: 10px;
}

.section-header {
  display: flex;
  gap: 10px;
}

.btn {
  display: none;
}

.section-header:hover .btn {
  display: flex;
}
