.container-skills {
  flex-grow: 1;
}

.container-header-skills {
  display: flex;
  justify-content: center;
  position: relative;
}

.container-title-skills h3 {
  font-size: var(--title-third-font-size);
  font-weight: var(--sidebar-title-third-font-weight);
}

/* BUTTONS */
.container-btn-skills {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.container-header-skills:hover .container-btn-skills {
  display: flex;
  gap: 10px;
}
