/* Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

p,
h1,
h2,
h3 {
  word-break: break-all;
}

button {
  height: 25px;
  background-color: #222;
  cursor: pointer;
  color: #bbb;
  padding-left: 5px;
  padding-right: 5px;
  border-color: #bbb;
  border-width: 1px;
  border-style: solid;
}

button:hover {
  background-color: rgb(93, 211, 93);
  border-color: #222;
  color: #222;
}
